{% extends 'base-front.html.twig' %}

{% block title %}Partners pour {{ event.nameevent }}{% endblock %}



{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Partners pour {{ event.nameevent }}</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {% if partners is not empty %}
                    <div class="list-group">
                        {% for partner in partners %}
                            <div class="list-group-item">
                                <h4 class="mb-2">{{ partner.namepartner }}</h4>
                                <p><strong>Type:</strong> {{ partner.typepartner }}</p>
                                <p><strong>Description:</strong> {{ partner.description }}</p>
                                <p><strong>Email:</strong> {{ partner.email }}</p>
                                <p><strong>Phone N°:</strong> {{ partner.tel }}</p>
                                <!-- Add additional certificat details as needed -->
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Aucun partner trouvé pour cet event.
                    </div>
                {% endif %}
                <a href="{{ path('app_event_front') }}" class="btn btn-primary mt-3">Retourner</a>
            </div>
        </div>
    </div>
{% endblock %}
