	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tanit Online Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/logo.png')}}">
    <link rel="stylesheet" href="{{ asset ('vendor/jqvmap/css/jqvmap.min.css')}}">
	<link rel="stylesheet" href="{{ asset ('vendor/chartist/css/chartist.min.css')}}">
	<!-- Summernote -->
    <link href="{{asset('vendor/summernote/summernote.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset ('vendor/bootstrap-select/dist/css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{asset ('css/style1.css')}}">
    <link rel="stylesheet" href="{{asset('css/Chart.css')}}">
    <link rel="stylesheet" href="{{asset('css/skin-3.css')}}">
