{% extends '/back/gestion.html.twig' %}

{% block title %}Formation Details{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formation Details</h1>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ formationn.Idformation }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom Niveau</th>
                    <td>{{ formationn.nomNiveau }}</td>
                </tr>
                <tr>
                    <th scope="row">Categorie</th>
                    <td>{{ formationn.categorie }}</td>
                </tr>
                <tr>
                    <th scope="row">Titre</th>
                    <td>{{ formationn.titre }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ formationn.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de Début</th>
                    <td>{{ formationn.dateD ? formationn.dateD|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de Fin</th>
                    <td>{{ formationn.dateF ? formationn.dateF|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Lien</th>
                    <td>{{ formationn.lien }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_formation_index') }}" class="btn btn-primary">Back to List</a>
        <a href="{{ path('app_formation_edit', {'id_formation': formationn.idFormation}) }}" class="btn btn-warning">Edit</a>

        {{ include('back/formation/_delete_form.html.twig') }}
    </div>
{% endblock %}
